   
// header section

header {
    // background-color:#F0EFE9;
    background-color:#F0EFE9;
    padding: 16px;

    .container{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:    "logo bars";

        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            // define where they should be located (grid-template-area)
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
        }
        
        .btn-menubars{
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;
            
    
            .fa-bars-staggered{
                color: #191919;
            }

            .fa-x{
                color: #DAD9D3;
                position: fixed;
                z-index: 2;
            }
    
            @media (min-width: 992px) {
                display: none;
            }
        }    
        
        .main-menu {
            background-color: #191919;
            color: #DAD9D3;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 90px 0;
            z-index: 2;
          
            a {
              color: #DAD9D3;
              text-decoration: none;
              display: block;
              padding: 20px;
              text-align: center;
              border-bottom: 1px solid #191919;
          
              &.hover {
                  background-color: #222222;
              }
          
              &.active {
                  background-color: #4a4a4a;
              }
            }
          }                
        
      

        .logotype{
            grid-area: logo;
            margin-right: 70px; 
        }

        .contactinformation-bar{
            grid-area: cib;
            display: none;
            justify-content: flex-start;
            align-items: center;

            a{
                text-decoration: none;
                color: black;
                :hover{
                    font-weight: 400;
                }
            }
            
            // Over 1200px show contactinformation-bar
            @media (min-width: 1200px) {
                display: flex;
            }

            .content-box{
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid #DAD9D3;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;
                :hover{
                    font-weight: 400;
                }

                i{
                    margin-right: 5px;
                    font-size: 1.2rem;
                }
                
                // &.last = i.last
                &.last{
                    border: none;
                }
            }
        }

        .socialmedia-bar{
            grid-area: social;
            display: none;
  
            @media (min-width: 992px) {
                display: block;
            }
            
            a{
                color: #191919;
                font-size: 1.3rem;
                margin-left: 10px;

                &:hover{
                    color: #7a7a7a;
                }
            }
        }

        .menu{
            grid-area: menu;
            display: none;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #DAD9D3;
            margin-top: 10px;
            padding-top: 10px;
    
            @media (min-width: 992px) {
                display: flex;
            }

            nav{
                a{
                    // nead to change to block, a is inline
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    // After active will the following to occur
                    &.active::after,
                    &:hover::after {
                        content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

            .btn-login{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}